<div
  class="h-screen w-full flex items-center justify-center p-4"
  style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');"
>
  <form
    class="w-full max-w-sm sm:max-w-lg bg-gray-50 rounded-lg p-6 shadow-lg"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div *ngIf="mensajeExito" class="mb-4 p-3 text-green-700 bg-green-100 rounded-lg">
      {{ mensajeExito }}
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input
        name="nombre"
        formControlName="nombre"
        id="nombre"
        type="text"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label for="nombre" class="peer-focus:text-blue-600 absolute text-gray-500 transform -translate-y-6 scale-75 top-3">
        Nombre
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input
        type="number"
        name="cantidad"
        formControlName="cantidad"
        id="cantidad"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label for="cantidad" class="peer-focus:text-blue-600 absolute text-gray-500 transform -translate-y-6 scale-75 top-3">
        Cantidad
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <label for="tipo" class="text-gray-500">Medida</label>
      <select
        id="tipo"
        name="tipo"
        formControlName="tipo"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-blue-600 peer"
        required
      >
        <option value="" disabled selected>Seleccione una medida</option>
        <option value="kilogramo">Kilogramo</option>
        <option value="paquete">Paquete</option>
        <option value="unidad">Unidad/es</option>
      </select>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input
        type="number"
        name="minimo"
        formControlName="minimo"
        id="minimo"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label for="minimo" class="peer-focus:text-blue-600 absolute text-gray-500 transform -translate-y-6 scale-75 top-3">
        Mínimo
      </label>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <label for="categoria" class="text-gray-500">Categoría</label>
      <select
        id="categoria"
        name="categoria"
        formControlName="categoria"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-blue-600 peer"
        required
      >
        <option value="" disabled selected>Seleccione una opción</option>
        <option value="perecedero">Perecedero</option>
        <option value="no-perecedero">No Perecedero</option>
      </select>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full px-5 py-2.5"
    >
      Cargar stock
    </button>

    <a
      routerLink="/stock"
      class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full px-5 py-2.5 block text-center mt-4"
    >
      Volver
    </a>
  </form>
</div>
