<div style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png') ;" >
    <div class=" flex justify-center items-center">
      <div class="container  max-w-sm p-4 sm:w-1/2">
        <div class="card flex flex-col justify-center p-10 bg-white rounded-lg shadow-2xl">
          <div class="prod-title">
            <p class="text-2xl uppercase text-gray-900 font-bold"> CarboHidratos</p>
            <p class="uppercase text-sm text-gray-400">
            Tuberculos y pastas
            </p>
          </div>
          <div class="prod-img">
            <img src="../../assets/img/carbos.jpg"
                 class="w-full object-cover object-center" />
          </div>
          <div class="prod-info grid gap-10">
            <div>
              
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center text-gray-900">
             
      
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- component -->
    <div class=" flex justify-center items-center">
      <div class="container  max-w-sm p-4 sm:w-1/2">
        <div class="card flex flex-col justify-center p-10 bg-white rounded-lg shadow-2xl">
          <div class="prod-title">
            <p class="text-2xl uppercase text-gray-900 font-bold">Grasas</p>
            <p class="uppercase text-sm text-gray-400">
            vegetales
            </p>
          </div>
          <div class="prod-img">
            <img src="../../assets/img/grasas.jpg"
                 class="w-full object-cover object-center" />
          </div>
          <div class="prod-info grid gap-10">
            <div>
              
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center text-gray-900">
       
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- component -->
    <div class=" flex justify-center items-center">
      <div class="container  max-w-sm p-4 sm:w-1/2">
        <div class="card flex flex-col justify-center p-10 bg-white rounded-lg shadow-2xl">
          <div class="prod-title">
            <p class="text-2xl uppercase text-gray-900 font-bold">Proteinas</p>
            <p class="uppercase text-sm text-gray-400">
            carnes y legumbres
            </p>
          </div>
          <div class="prod-img">
            <img src="../../assets/img/prote.avif"
                 class="w-full object-cover object-center" />
          </div>
          <div class="prod-info grid gap-10">
            <div>
              
            </div>
            <div class="flex flex-col md:flex-row justify-between items-center text-gray-900">
             
     
            </div>
          </div>
        </div>
      </div>
    </div></div>