<div class="div-principal">
  <nav class="navBar"> <h1 class="titulo">ESCUELA Nº 2031</h1>
    <h3 class="Nom-escuela">MARIA MOLINA DE ALBONICO</h3>
</nav>
  <div class="div-secundario">
   <div class="stock"> <a class="img-stock" href="/stock"> </a> <div class="alim"><a>ALIMENTOS DISPONIBLES</a></div>  </div>
   <div class="stock"><a class="img-recetas" href="/recetas">  </a> <a class="rec"> RECETAS DISPONIBLES </a> </div>
   <div class="stock"><a class="img-nostros" href="/info">  </a> <a class="inf"> INFORMACION SOBRE LA INSTITUCION </a></div>

  </div>
  <footer></footer>