<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-cover bg-no-repeat min-h-screen flex items-center justify-center" style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');">
    <div class="container mx-auto px-4 lg:px-8">
        <div class="max-w-4xl mx-auto bg-gray-100 rounded-3xl shadow-xl p-6 lg:p-12">
            <div class="text-center">
                <h1 class="text-3xl lg:text-4xl font-bold mb-4">SOBRE NOSOTROS</h1>
                <img class="mx-auto h-[120px] w-[120px] rounded-full shadow-lg" src="../../assets/logo/logo.jpg" alt="logo">
            </div>

            <div class="mt-6 flex flex-col lg:flex-row items-center lg:items-start lg:gap-8">
                <!-- Información -->
                <div class="text-center lg:text-left">
                    <p class="text-2xl font-bold text-gray-900">ESCUELA N° 2031</p>
                    <p class="mt-2 text-xl text-gray-700">Necochea 94, Cañada de Gómez</p>
                    <p class="mt-2 text-xl text-gray-700">Horario: 08:00 a 17:00</p>
                    <p class="mt-2 text-xl text-gray-700">Tel: 03471 42-3615</p>
                </div>

                <!-- Mapa -->
                <div class="mt-6 lg:mt-0">
                    <iframe class="w-full h-64 sm:h-80 lg:w-[400px] lg:h-[300px] rounded-lg shadow-lg"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d353.3094036822005!2d-61.382680768368814!3d-32.817625392060975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c9df90978d05fb%3A0x86661f186353875c!2sEscuela%20Especial%20n%C2%B0%202031%20Albonico.!5e0!3m2!1ses!2sar!4v1727822270087!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <!-- Botón Volver -->
            <div class="mt-10 text-center">
                <a href="index"
                    class="inline-block bg-indigo-600 text-white py-3 px-6 rounded-lg text-lg font-semibold shadow-md hover:bg-indigo-500 transition duration-300">
                    Volver
                </a>
            </div>
        </div>
    </div>
</body>

</html>
