<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
</head>
<body>
    <div class="card">
        <div class="card2">
            <img src="https://scontent.fros2-2.fna.fbcdn.net/v/t39.30808-6/302313672_735899811166042_5271293790852200340_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeHl3YHOktwb81FJkw-8ApIQX1po8GClCxRfWmjwYKULFJvB3p_mAnlQijiKroOMGRci1T-88uCxu9BGpiI3siNs&_nc_ohc=5tWRxBuQORsQ7kNvgE8cWjt&_nc_ht=scontent.fros2-2.fna&oh=00_AYCw3GVv-YJb7jBFIFxzX8C6yuc20YaOl72QZ76daXbrag&oe=66D05338" alt="Hola mundo">
        </div>
            <div class="info">
                <div class="contenedor">
                    <h2>Información</h2>
                    <h3>Ubicación</h3>
                    <p>Cañada de Gómez</p>
                    <h3>Dirección</h3>
                    <p>Necochea 94</p>
                    <h3>Horario</h3>
                    <p>08:00 a 17:00</p>
                    <h3>Comunicación</h3>
                    <p>3471-423615</p>
                    <button class="button">Volver</button>
                </div>
            </div>
    </div>    
        

<footer class="Footer">
    <div>
      <span>2024 - <a class="hover:underline">Escuela n° 2031</a>.
    </span>
    <ul class="footer-list">
        <li>
            <a href="#" class="about">Acerca de</a>
        </li>
        <li>
            <a href="#" class="privacy">Politica de privacidad</a>
        </li>
        <li>
            <a href="#" class="licensing">Licencia</a>
        </li>
        <li>
            <a href="#" class="contacto">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
</body>
</html>
