/* Estilos básicos de restablecimiento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url("https://img2.wallspic.com/previews/7/5/2/0/40257/40257-tranquilidad-calma-ambiente-dia-la_luz_del_sol-x750.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100%; /* Asegura que ocupe toda la altura de la ventana */
    width: 100%;
    display: flex;
    flex-direction: column; /* Disposición en columna */
}

body {
    min-height: 100vh; /* Mínimo de altura de la ventana */
    display: flex;
    flex-direction: column; /* Flex column para body */
}

/* Contenedor de la tarjeta */
.card {
    flex-grow: 1; /* Permite que la tarjeta ocupe todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: stretch; /* Extiende el contenedor para ocupar toda la altura */
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}

/* Contenedor para la imagen */
.card-image {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.card2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: -4px; /* Ajuste fino para eliminar cualquier espacio residual */
}

/* Información de la tarjeta */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #2F6576;
    color: white;
    text-align: center;
}

/* Botones de la tarjeta */
.button {
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #cccccc;
}

/* Estilo del pie de página */
.Footer {
    background-color: #2F6576;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #6b7280;
}

.footer-list li {
    margin: 0 10px;
}

/* Media Queries para dispositivos de diferentes tamaños */
@media (max-width: 599px) {
    .card {
        flex-direction: column;
        width: 90%;
    }

    .card-image {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}

