<div class="h-screen w-full flex flex-col items-center justify-center p-4 bg-[url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png')]  ">
    <div class="container w-full md:w-[90%] lg:w-[80%] h-auto md:h-[90%] flex flex-col items-center justify-start space-y-8">
        <h2 class="text-3xl font-bold mb-4 text-gray-800 text-center sm:text-4xl md:text-5xl lg:text-6xl">Tutoriales</h2>
        
        <div class="grid grid-cols-1 gap-8 w-full sm:grid-cols-2 lg:grid-cols-3">
            <div class="w-full flex flex-col items-center">
                <h3 class="text-2xl font-semibold mb-4 text-gray-800 text-center">Tutorial de Carga De Stock</h3>
                <div class="w-full aspect-video rounded-lg overflow-hidden shadow-lg">
                    <iframe [src]="getSafeUrl('wMCbb9TMKs8')" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
                </div>
            </div>

            <div class="w-full flex flex-col items-center">
                <h3 class="text-2xl font-semibold mb-4 text-gray-800 text-center">Tutorial de Carga De Recetas</h3>
                <div class="w-full aspect-video rounded-lg overflow-hidden shadow-lg">
                    <iframe [src]="getSafeUrl('xk4ex7H9CA8')" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
                </div>
            </div>

            <div class="w-full flex flex-col items-center">
                <h3 class="text-2xl font-semibold mb-4 text-gray-800 text-center">Tutorial Para Administrar las Recetas</h3>
                <div class="w-full aspect-video rounded-lg overflow-hidden shadow-lg">
                    <iframe [src]="getSafeUrl('cKrQxELczmc')" frameborder="0" allowfullscreen class="w-full h-full"></iframe>
                </div>
            </div>
        </div>  <a
        href="stock"
        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full px-5 py-2.5 block text-center mt-4"
      >
        Volver
      </a>
    </div>
</div>
