<div
  class="  h-full  h-screen w-full flex items-center justify-center"
  style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');"
>
  <form
    class="w-full max-w-lg mx-auto bg-gray-50 rounded-lg p-6 shadow-lg"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <!-- Nombre de la receta -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        name="nombre"
        formControlName="nombre"
        id="nombre"
        type="text"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="nombre"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Nombre de la receta
      </label>
    </div>

    <!-- Imagen de la receta -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        name="imagen"
        formControlName="imagen"
        id="imagen"
        type="text"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="imagen"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        URL de la imagen
      </label>
    </div>

    <!-- Información sobre la receta -->
    <div class="relative z-0 w-full mb-5 group">
      <textarea
        name="info"
        formControlName="info"
        id="info"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      ></textarea>
      <label
        for="info"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Información adicional
      </label>
    </div>

    <!-- Tiempo de cocción -->
    <div class="relative z-0 w-full mb-5 group">
      <input
        name="tiempoCoccion"
        formControlName="tiempoCoccion"
        id="tiempoCoccion"
        type="number"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      />
      <label
        for="tiempoCoccion"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Tiempo de cocción (en minutos)
      </label>
    </div>
  <!-- tipo-->
    <select
    id="tipo"
    name="tipo"
    formControlName="tipo"
    class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
    required
  >
    <option value="" disabled selected>Tipo</option>
    <option value="kilogramo">Saludable</option>
    <option value="paquete">Rapida</option>
    <option value="unidad">Nacional</option>  
    <option value="unidad">internacional</option>  
  </select>
     <!-- tipo-->
    <div class="relative z-0 w-full mb-5 group">
      <textarea
        name="tutorial"
        formControlName="tutorial"
        id="tutorial"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      ></textarea>
      <label
        for="tutorial"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Tutorial paso a paso
      </label>
    </div>

    <!-- Ingredientes (campo de texto para lista de ingredientes) -->
    <div class="relative z-0 w-full mb-5 group">
      <textarea
        name="ingredientes"
        formControlName="ingredientes"
        id="ingredientes"
        class="block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        required
      ></textarea>
      <label
        for="ingredientes"
        class="peer-focus:font-medium absolute text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >
        Ingredientes (separados por comas)
      </label>
    </div>

    <!-- Botón para enviar el formulario -->
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Cargar receta
    </button>

    <!-- Enlace para volver -->
    <a
      href="stock"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-block mt-6"
    >
      Volver
    </a>
  </form>
</div>
