<div class="h-screen w-full flex justify-center items-center" 
     style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');">
  <!-- Caja interna -->
  <div class="rounded-3xl border-3 border-black bg-gray-100 ring-1 ring-gray-200 lg:flex lg:flex-col lg:justify-center py-12 px-6 lg:py-16 w-full max-w-md lg:max-w-lg h-[80vh] w-[calc(100%-40px)] mx-5 flex justify-center items-center">
    <div class="flex flex-col justify-center items-center w-full">
      <!-- Logo -->
      <img class="h-[120px] w-[120px] rounded-full border-white shadow-2xl mb-6" 
           src="../../assets/logo/logo.jpg" 
           alt="logo">
      
      <!-- Título -->
      <h2 class="text-2xl font-bold text-gray-900 mb-6">Iniciar sesión</h2>
      
      <!-- Formulario -->
      <form class="space-y-6 w-full max-w-sm" [formGroup]="form" (ngSubmit)="submit()" ngSkipHydration>
        <div>
          <label for="email" class="block text-sm font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" formControlName="email" 
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="isRequired('email')">
            <small class="text-red-400">Este campo es requerido</small>
          </div>
          <div *ngIf="hasEmailError()">
            <small class="text-red-400">El correo debe ser válido</small>
          </div>
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-900">Contraseña</label>
          <div class="mt-2">
            <input id="password" name="password" type="password" formControlName="password" 
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
          <div *ngIf="isRequired('password')">
            <small class="text-red-400">Este campo es requerido</small>
          </div>
        </div>

        <div>
          <button type="submit" 
                  class="w-full flex justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus:ring-2 focus:ring-indigo-600">
            Iniciar sesión
          </button>
        </div>
      </form>

      <p class="mt-6 text-center text-sm text-gray-500">
        ¿Te olvidaste la contraseña? 
        <a href="recuperarcontra" class="font-semibold text-indigo-600 hover:text-indigo-500">Recuperar contraseña</a>
      </p>
    </div>
  </div>
</div>
