.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  .bg-faltante {
    background-color: rgba(255, 0, 0, 0.2) !important; /* Rojo con 20% de opacidad */
  }
  
  .bg-ok {
    background-color: rgba(0, 255, 0, 0.2) !important; /* Verde con 20% de opacidad */
  }
  
  