<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cover bg-no-repeat h-full w-full flex flex-col t justify-center content-center " style="background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');"  >
    <div class="flex justify-center items-center min-h-screen space-x-6 overflow-hidden">
        <div class="mx-0 max-w-7xl px-6 lg:px-8 justify-center content-center ">
            <div class=" -mt-16 p-2 lg:flex-shrink-0  lg:flex-shrink-0">
                <div class="rounded-lg border-3 border-black bg-gray-100 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center mx-0 w-full h-screen rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:max-w-none mt-16">
                    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
                        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Registrarse</h2>
                        </div> 
                        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                            <form>
                                <div class="mb-4">
                                    <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
                                    <input type="text" id="nombre" name="nombre" class="shadow 
                     appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">   
                    
                                </div>
                                <div class="mb-4">
                                    <label
                     for="apellido" class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
                                    <input type="text" id="apellido" name="apellido" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none   
                     focus:shadow-outline">
                                </div>
                                <div class="mb-4">
                                    <label for="fecha_nacimiento" class="block text-gray-700 text-sm font-bold mb-2">Fecha de Nacimiento</label>
                                    <input type="date"
                     id="fecha_nacimiento" name="fecha_nacimiento" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">   
                    
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
                                    <input type="password" 
                     id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">   
                    
                                </div>
                                <div class="mb-4">
                                    <label for="confirm_password" class="block text-gray-700 text-sm font-bold mb-2">Confirmar Contraseña</label>
                                    <input type="password"
                     id="confirm_password" name="confirm_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none   
                     focus:shadow-outline">
                                </div>
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Registrarse</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
</body>
</html>
